.HomePage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    select {
        margin-top: 48px;
        padding: 12px 48px;
        background-color: whitesmoke;
        border-radius: 20px;
        width: 10%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }


    &_ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4%;
    }

}