.NavBar {

    color: whitesmoke;

    ul {
        padding-block: 24px;
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: center;
    }

    h2 {
        font-size: 40px;
    }
}