@import url("https://fonts.googleapis.com/css2?family=BioRhyme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap");


:root {
    --color-bg: whitesmoke;
    --color-secondary: #4fa095;
    --color-bg-variant: #153462;
    --color-text-light: whitesmoke;
    --color-text-dark: #153462;
}



@font-face {
    font-family: "BioRhyme";
    font-weight: 400;
    src: url("https://fonts.googleapis.com/css2?family=BioRhyme&display=swap");
}

body {
    background: black;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "BioRhyme";
    list-style-type: none;
}


nav {
    width: 100%;
    display: flex;

}

ul {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-bg);
    width: 100%;
}

li {

    background: linear-gradient(var(--color-bg-variant), #4b50d7);
    border: 1px solid linear-gradient(var(--color-bg-variant), #4b50d7);
    border-radius: 50px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 1px 1px 1px 0.5px rgb(112, 110, 110);
    padding: 1.2rem;

}

a {

    color: var(--color-text-light);
}

li:hover {
    background: var(--color-bg-variant);
    border: 1px solid var(--color-bg-variant);
    border-radius: 50px;

}